<app-header></app-header>

<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Nous sommes E-kaly
              </h2>
            </div>
            <p>
                Vous voulez manger chez votre restaurant préféré mais que vous ne voulez pas galérer dans les embouteillages ? N'attendez plus, et gagnez du temps ! Fini les files d'attente, les embouteillages pour pouvoir manger chez votre restaurant préféré, E-Kaly s'occupe de tout.

                E-Kaly est la façon la plus facile de commander vos repas en ligne à partir de votre smartphone ou votre tablette. Du bout des doigts, accédez à de délicieuses cuisines (chinoise, malagasy, européenne, ...) et à un choix de restaurants qui livrent dans votre ville/quartier. Idéal pour les déjeuners au bureau, lorsque vous n'avez pas le temps de quitter le travail et galérer dans les embouteillages.
                
                E-Kaly est LA référence en matière de livraison de repas à domicile. Découvrez de manière simple et intuitive toute une gamme de restaurants soigneusement sélectionnés pour vous dans votre smartphone ou tablette et commandez ce qui vous plaît!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>