<app-header></app-header>
<section class="food_section layout_padding-bottom">
    <div class="container"> 
      <div class="heading_container heading_center">
        <h2>
            Menu 
        </h2>
      </div>

        <div class="row grid">  
          <div class="col-sm-6 col-lg-4 all pizza" *ngFor="let plats of myPlats">
            <div class="box" >
              <div>
                <div class="img-box">
                  <img src={{plats.imageUrl}} alt="">
                </div>
                <div class="detail-box">
                  <h5 > {{plats.nom}} </h5>
                  <div class="options">
                    <h6 > {{plats.prix}} </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

<app-footer></app-footer>