<div class="filters-content">
    <div class="row grid">
      <div class="col-sm-6 col-lg-4 all pizza">
        <div class="box">
          <div>
            <div class="img-box">
              <img [src]="restaurant.imageUrl" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{restaurant.title}}
              </h5>
              <p>
                {{restaurant.description}}
              </p>
              <div class="options">
                <h6>
                  prix moyenne : {{restaurant.moyennePrix}} Ariary
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  